Host master-0
  Hostname mcsr.social

Host clusterfuck-0
  Hostname 10.0.0.3
  ProxyJump master-0

Host *
  User root
  StrictHostKeyChecking accept-new
  ForwardAgent yes
  ForwardX11 no
  ServerAliveInterval 60
