apiVersion: v1
kind: Namespace
metadata:
  name: argo-cd
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argo-cd
  namespace: kube-system
spec:
  repo: https://argoproj.github.io/argo-helm
  chart: argo-cd
  version: "{{ argocd_version }}"
  targetNamespace: argo-cd
  valuesContent: |-
    configs:
      secret:
        createSecret: false
---
apiVersion: v1
kind: Secret
metadata:
  name: infra
  namespace: argo-cd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://github.com/younishd/infra.git
  username: younishd
  password: "{{ github_token }}"
---
apiVersion: v1
kind: Secret
metadata:
  name: argocd-secret
  namespace: argo-cd
stringData:
  admin.password: "{{ argocd_password }}"
  admin.passwordMtime: "2024-01-01T00:00:00CET"
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root
  namespace: argo-cd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/younishd/infra.git
    targetRevision: HEAD
    path: apps/root
    helm:
      releaseName: root
      valuesObject:
        source:
          targetRevision: HEAD
        ingress:
          baseDomain: "{{ base_domain }}"
          clusterIssuer:
            public: "{{ cluster_issuer_public }}"
            tailnet: "{{ cluster_issuer_tailnet }}"
  destination:
    server: https://kubernetes.default.svc
    namespace: argo-cd
  syncPolicy:
    automated:
      prune: true
      allowEmpty: false
      selfHeal: true
