apiVersion: v1
kind: Namespace
metadata:
  name: argo-cd
---
apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argo-cd
  namespace: kube-system
spec:
  repo: https://argoproj.github.io/argo-helm
  chart: argo-cd
  version: {{ argocd_version }}
  targetNamespace: argo-cd
---
apiVersion: v1
kind: Secret
metadata:
  name: infra
  namespace: argo-cd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: https://github.com/younishd/infra
  username: younishd
  password: "{{ github_token }}"
---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: apps
  namespace: argo-cd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://github.com/younishd/infra
    targetRevision: master
    path: apps
  destination:
    server: https://kubernetes.default.svc
    namespace: argo-cd
