apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: cilium
  namespace: kube-system
spec:
  repo: https://helm.cilium.io
  chart: cilium
  version: "{{ cilium_version }}"
  targetNamespace: kube-system
  bootstrap: true
  valuesContent: |-
    k8sServiceHost: {{ rke2_master_ipv4 }}
    k8sServicePort: 6443
    ipam:
      mode: "cluster-pool"
      operator:
        clusterPoolIPv4PodCIDRList: ["{{ cluster_cidr_ipv4 }}"]
    kubeProxyReplacement: true
    cni:
      chainingMode: "none"
    bpf:
      masquerade: true
      lbExternalClusterIP: true
    operator:
      replicas: 1
    cluster:
      name: {{ cilium_cluster_name }}
      id: {{ cilium_cluster_id }}
    hubble:
      enabled: true
      relay:
        enabled: true
      ui:
        enabled: true
        ingress:
          enabled: true
          annotations:
            cert-manager.io/cluster-issuer: "{{ cluster_issuer_tailnet }}"
          className: "nginx-tailnet"
          hosts:
            - "hubble.tail.{{ base_domain }}"
          tls:
            - secretName: cilium-hubble-ui-tls
              hosts:
                - "hubble.tail.{{ base_domain }}"
