{% if inventory_hostname != groups["control_plane"][0] %}
server: https://{{ rke2_master_ipv4 }}:9345
token: {{ rke2_master_token }}
{% endif %}
tls-san:
  - {{ cluster_domain }}
cni: none
node-ip: "{{ rke2_node_ipv4 }}"
node-external-ip: "{{ rke2_node_ipv4 }}"
service-node-port-range: 1-65535
disable: rke2-ingress-nginx
disable-kube-proxy: true
kube-controller-manager-arg: "--controllers=*,-nodeipam"
{% if "control_plane" in group_names %}
cluster-cidr: "{{ cluster_cidr_ipv4 }}"
service-cidr: "{{ service_cidr_ipv4 }}"
{% endif %}
