all:
  children:
    control_plane:
      hosts:
%{ for v in control_plane ~}
        ${v}:
%{ endfor ~}

    data_plane:
      hosts:
%{ for v in data_plane ~}
        ${v}:
%{ endfor ~}

    ingress:
      hosts:
        ${control_plane[0]}:
