Host ${jumphost.name}
  HostName ${jumphost.public_ipv4}

%{ for v in hosts ~}
Host ${v.name}
  HostName ${v.private_ipv4}

%{ endfor ~}
Host * !${jumphost.name}
  ProxyJump ${jumphost.public_ipv4}

Host *
  User root
  StrictHostKeyChecking no
  ExitOnForwardFailure no
  UserKnownHostsFile /dev/null
  ServerAliveInterval 60
