Host ${jumphost.name}
  HostName ${jumphost.public}

%{ for v in hosts ~}
Host ${v.name}
  HostName ${v.private}
  ProxyJump ${jumphost.public}

%{ endfor ~}
Host *
  User root
  StrictHostKeyChecking no
  ExitOnForwardFailure no
  UserKnownHostsFile /dev/null
  ServerAliveInterval 60
