controller:
  kind: DaemonSet
  hostNetwork: true
  service:
    type: ClusterIP
  admissionWebhooks:
    enabled: true
  ingressClass: "nginx"
  ingressClassResource:
    name: nginx
    enabled: true
    default: true
  nodeSelector:
    node-role.kubernetes.io/tailscale: "true"
