controller:
  kind: DaemonSet
  hostNetwork: true
  service:
    type: ClusterIP
  admissionWebhooks:
    enabled: true
  ingressClass: "nginx"
  nodeSelector:
    node-role.kubernetes.io/tailscale: "true"
