apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-cilium
  namespace: kube-system
spec:
  valuesContent: |-
    k8sServiceHost: {{ rke2_master_ipv4 }}
    k8sServicePort: 6443

    ipam:
      mode: "cluster-pool"
      operator:
        clusterPoolIPv4PodCIDRList: ["{{ cluster_cidr_ipv4 }}"]
        clusterPoolIPv6PodCIDRList: ["{{ cluster_cidr_ipv6 }}"]

    kubeProxyReplacement: strict
    cni:
      chainingMode: "none"

    bpf:
      masquerade: true

    operator:
      replicas: 1

    hubble:
      enabled: true
      relay:
        enabled: true
      ui:
        enabled: true
        ingress:
          enabled: true
          annotations:
            cert-manager.io/cluster-issuer: "{{ cluster_issuer }}"
            nginx.ingress.kubernetes.io/auth-type: basic
            nginx.ingress.kubernetes.io/auth-secret: default/basic-auth
          className: nginx
          hosts:
            - hubble.{{ base_domain }}
          tls:
            - secretName: hubble-tls
              hosts:
                - hubble.{{ base_domain }}
